.base_padding {
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
 
}
.inner_div {
  width: 220px;
  border-radius: 8px;
  text-align: center;
}
.inner_data {
  margin: 12px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  height: 40px;
}
.inner_data:hover{
  box-shadow: 3px 2px 3px 1px var(--boxLight), -3px -2px 3px 1px var(--boxDark);
}
.text_color_d {
  color: var(--fontColorD);
  text-shadow: 0.2px 0.3px 1.4px var(--textshadow);
}
.sideBar_img {
  width: 22px;
  height: 22px;
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 2px;
}
.position_sticky{
  position: sticky;
  top: 65px;
}
