:root {
  --baseColor: #e8ecef;
  --secondColor: #ebecf1;
  --boxLight: #fcfcfd;
  --boxDark: #cad5dd;
  --boxDark2:#a3b3be; /* for use status box shadow */
  --boxDarkIcon: #a5c7db;
  --fontColorA: #58778f; /* dark color*/
  --fontColorB: #888b86; /* light color*/
  --fontColorC: #616d7a; /* icon color*/
  --fontColorD: #445968;
  --textshadow: #b0b4b7;
  --borderColor: #e6ebee;
  --hoverA: #616d7a;
  --onlineUser:#45b46bab;  /* for right sidebar */

  --rs-carousel-bg: #8e8e93;  /* for carousel */
  --rs-carousel-indicator: rgba(255, 255, 255, 0.4);
  --rs-carousel-indicator-hover: rgb(135, 110, 110);
  --rs-carousel-indicator-active: #3498ff;

  
  
}

